<div class="container">
<!-- Containers
================================================== -->
  <section class="bs-docs-section">

  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="jumbotron">
          <h1 class="display-4">備品管理アプリケーション</h1>
          <p class="lead">備品の受発注機能を持った管理アプリです。</p>
          <hr class="my-4">
          <p class="lead">登録後、備品発注に関する業務をはじめる事が出来ます。</p>
            <a><%= link_to "はじめる", new_user_session_path, class: 'btn btn-secondary btn-lg' %></a>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>

<footer>
  <div id="footer" class="fixed-bottom" style="height:50px; background-color: #343a40; color: #fff;">
    <p class="text-center">© 2021 Hill inc.</p>
  </div>
</footer>